<table class="c-table">
    <thead class="c-table__header">
        <tr>
            <th class="c-table__col-label">Nombre Destinatario</th>
            <th class="c-table__col-label">Rut</th>
            <th class="c-table__col-label">Banco</th>
            <th class="c-table__col-label">Tipo de cuenta</th>
            <th class="c-table__col-label">Monto</th>
        </tr>
    </thead>
    <tbody class="c-table__body">
        <tr>
            <td class="c-table__cell">Juanito Perez</td>
            <td class="c-table__cell">11.011.011-K</td>
            <td class="c-table__cell">Banco Ripley</td>
            <td class="c-table__cell">Cuenta vista</td>
            <td class="c-table__cell">$9.000</td>
        </tr>
        <tr>
            <td class="c-table__cell">Juanito Perez</td>
            <td class="c-table__cell">11.011.011-K</td>
            <td class="c-table__cell">Banco Ripley</td>
            <td class="c-table__cell">Cuenta vista</td>
            <td class="c-table__cell">$9.000</td>
        </tr>
        <tr>
            <td class="c-table__cell">Juanito Perez</td>
            <td class="c-table__cell">11.011.011-K</td>
            <td class="c-table__cell">Banco Ripley</td>
            <td class="c-table__cell">Cuenta vista</td>
            <td class="c-table__cell">$9.000</td>
        </tr>
        <tr>
            <td class="c-table__cell">Juanito Perez</td>
            <td class="c-table__cell">11.011.011-K</td>
            <td class="c-table__cell">Banco Ripley</td>
            <td class="c-table__cell">Cuenta vista</td>
            <td class="c-table__cell">$9.000</td>
        </tr>
    </tbody>
</table>
