<div class="login">
    <h2 class="login-header">Añadir destinatario</h2>
    <form class="login-container">
        <p class="inline">
            <input type="text" placeholder="Nombre">
            <input type="text" placeholder="Rut">
        </p>
        <p class="inline">
            <input type="email" placeholder="Correo">
            <input type="number" placeholder="Número de teléfono">
        </p>
        <p>
            <select name="bancoDestino" id="bancoDestino">
                <option value="null">Banco de destino</option>
                <option value="Banco Estado">Banco Estado</option>
                <option value="Banco Estado">Banco Estado</option>
                <option value="Banco Estado">Banco Estado</option>
            </select>
        </p>
        <p class="inline">
            <input type="text" placeholder="Tipo de cuenta">
            <input type="number" placeholder="Número de cuenta">
        </p>
        <p><input type="submit" value="Añadir"></p>
    </form>
</div>