<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
    <div class="item-inside__meta">
      <h2 class="ae-u-bolder rk-portfolio-title ">Bienvenida/o ADMINISTRADOR</h2>
    </div>
    <div class="ae-container-fluid ae-container-fluid--inner">
      <div class="ae-grid ae-grid au-xs-ptp-1">
        <div class="ae-grid__item item-lg-12 ">
          <h3 id="static-items">
            <a href="#static-items" class="hash-link">Usuario Existente</a>
          </h3>
          <h4>Monto en tu cuenta: $5.000.000</h4>
        </div>
        <div class="login">
            <h3 class="login-header">Recarga</h3>
            <form class="login-container">
              <p><input type="number" placeholder="Monto de recarga"></p>
              <p><input type="submit" value="Recargar"></p>
            </form>
          </div>
      </div>
    </div>
</section>

