<div class="login">
    <h2 class="login-header">Realizar transferencia</h2>
    <form class="login-container">
        <p>
            <select name="bancoDestino" id="bancoDestino">
                <option value="null">Selecciona el destinatario</option>
                <option value="Juanito Perez">Juanito Perez</option>
                <option value="Juanito Perez">Juanito Perez</option>
                <option value="Juanito Perez">Juanito Perez</option>
            </select>
        </p>
        <table class="c-table">
          <thead class="c-table__header">
            <tr>
              <th class="c-table__col-label">Nombre</th>
              <th class="c-table__col-label">Correo</th>
              <th class="c-table__col-label">Banco</th>
              <th class="c-table__col-label">Tipo de cuenta</th>
            </tr>
          </thead>
          <tbody class="c-table__body">
            <tr>
              <td class="c-table__cell">Juanito</td>
              <td class="c-table__cell">juanito@gmail.com</td>
              <td class="c-table__cell">Banco Ripley</td>
              <td class="c-table__cell">Cuenta Corriente</td>
            </tr>
          </tbody>
        </table>
        <p><input type="number" placeholder="Monto"></p>
        <p><input type="submit" value="Transferir"></p>
    </form>
</div>
